git+https://github.com/yihong0618/garth.git
httpx>=0.28.1
aiofiles>=23.2.1
lxml>=5.0.0

requests>=2.31.0
pycryptodome>=3.19.0
eviltransform>=0.1.1

gpxpy>=1.6.0
tcxreader>=0.4.11
fit-tool>=0.9.15

geopy>=2.4.1
polyline>=2.0.0

stravalib>=1.6.0

pytz
rich
SQLAlchemy>=2.0.0
